.faq-container {
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.faq-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: #dad7cd;
  padding: 10px 25px;
  border:4px solid #588157;
  border-radius: 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.faq-list {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq-item {
  background-color: #eaf6fa;
  border-radius: 15px;
  padding: 15px 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.faq-item.open {
  background-color: #a3b18a;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #344e41;
  margin: 0;
}

.icon {
  color: hsl(150, 20%, 25%);
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.faq-answer {
  margin-top: 10px;
  padding-left: 10px;
  border-left: 3px solid #344e41;
  color: #333;
  line-height: 1.5;
}

.faq-answer p {
  margin: 0;
  font-size: 0.95rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .faq-title {
    font-size: 1.4rem;
  }

  .faq-question h3 {
    font-size: 0.95rem;
  }

  .faq-answer p {
    font-size: 0.9rem;
  }
}
